tensorflow==2.10.0
keras==2.10.0
streamlit==1.29.0
numpy==1.23.5
pandas
scikit-learn
scipy
joblib
matplotlib
seaborn
gdown
tqdm
PyYAML
python-box==6.0.2   #i'm using because it has exception fucntionality....
ensure==1.0.2
#-e .
